server/src/org/im/dc/xsd/config.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="config">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="users" />
				<xs:element ref="states" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="users">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="user" maxOccurs="unbounded" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="user">
		<xs:complexType>
			<xs:attribute name="name" type="xs:string" use="required" />
			<xs:attribute name="pass" type="xs:string" use="required" />
		</xs:complexType>
	</xs:element>
	<xs:element name="states">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="state" maxOccurs="unbounded" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="state">
		<xs:complexType>
			<xs:attribute name="id" type="xs:string" use="required" />
			<xs:attribute name="edit_perm" type="xs:string" use="optional" />
		</xs:complexType>
	</xs:element>
</xs:schema>
